* {
    font-family: sans-serif;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* HEADER */

#top-bar {
    width: 100%;
    background-color: lightskyblue;
    text-align: center;
}

#name {
    display: inline-block;
    margin: 10px;
}

/* CENTER */

.content {
    position: fixed;
    display: flex;
    top: 50px;
    bottom: 20px;
    left: 50%;
    margin-left: -430px;
}

.selected {
    background-color: blanchedalmond !important;
}

#chats {
    width: 250px;
    overflow: auto;
    border: solid antiquewhite;
}

.chat-element {
    margin: 5px;
    padding: 10px 5px 10px 5px;
    border-radius: 20px;
    overflow: auto;
    background-color: aliceblue;
}

.chat-name {
    white-space: nowrap;
}

#messages-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 10px;
}

#messages {
    flex: 1;
    overflow: auto;
    border: solid yellow;
}

#message-input-container {
    display: flex;
    margin-top: 10px;
    height: 30px;
    border: solid pink;
}

#message-input {
    flex: 1;
}

.message {
    margin: 10px 5px 10px 5px;
    padding: 5px 10px 5px 10px;
    max-width: 70%;
    width: fit-content;
    border-radius: 10px;
    overflow-y: hidden;
    background-color: lightyellow;
}

.message-self {
    margin: 10px 5px 10px auto;
    padding: 5px 10px 5px 10px;
    max-width: 70%;
    width: fit-content;
    border-radius: 10px;
    overflow-y: hidden;
    background-color: palegreen;
}

.message-author {
    color: green;
    font-size: 12px;
}

.message-text {
    margin: 5px 0 5px 0;
    overflow-wrap: break-word;
}

.message-time {
    float: right;
    color: gray;
    font-size: 10px;
}
