#topBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: lightskyblue;
    text-align: center;
}

#name {
    margin: 10px;
}

.content {
    margin-top: 45px;
}

#player {
    margin: auto;
    width: 600px;
}

#controls {
    padding: 10px;
    text-align: center;
    background-color: lightcyan;
    border-radius: 20px;
}

#main-controls {
    width: 500px;
}

#playlist {
    height: 1000px;
}
